[data-color] {
    background-color: red;
    border: 2px dotted darkred;
    font-weight: bold;
}

[data-color = "blue"] {
    background-color: lightskyblue;
    border: 2px solid darkblue;
}

[data-green = "light" i] {
    background-color: lightgreen;
}

[class *= "str"] {
    background-color: orange;
}

[class ~= "small-text"] {
    font-size: 12px;
}

[class ^= "small-text"] {
    border: 10px solid darkorange;
}

[class $= "box"] {
    padding: 5px;
    margin: 10px;
}